<!DOCTYPE html>
<html>
  <head>
    <%= meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= feeds only: %w[posts] %>
    <%= yield :head %>

    <%= stylesheet_link_tag :app %>
  </head>

  <body class="font-serif antialiased">
    <%= render partial: "shared/navigation", locals: { items: Content::Page.all.select(&:nav_label) } %>

    <%= yield %>
  </body>
</html>
