@import "tailwindcss";

@layer base {
  a:not([class]) {
    @apply underline;

    &:hover {
      @apply no-underline;
    }
  }
}

@layer component {
  .content {
    @apply [&_*:not(h1,h2,h3,h4,h5,h6)+*:not(pre,code,li,blockquote>p,svg,div[data-slot='code']),blockquote+pre]:mt-5;

    @apply [&_h1+p,&_h2+p]:mt-1.5;
    @apply [&_h3+p]:mt-1;
    @apply [&_h4+p,&_h5+p,&_h6+p]:mt-0.5;
    @apply [&_*+h2,&_*+h3]:mt-8;

    @apply [&_h2]:font-bold [&_h2]:text-2xl [&_h2]:text-slate-800;
    @apply [&_h3]:font-semibold [&_h3]:text-xl [&_h3]:text-slate-800;
    @apply [&_h4]:font-semibold [&_h4]:text-base [&_h4]:text-slate-800;

    @apply [&>p,&_li]:text-lg [&>p]:text-slate-800;
    @apply [&_ul,&_ol]:mt-2 [&_ul]:list-disc [&_ul,&_ol]:list-outside [&_ul]:ml-4.5 [&_ol]:ml-5;
    @apply [&_ol]:list-decimal;

    @apply [&_pre]:mt-1.25 [&_pre]:px-1.5 [&_pre]:py-2 [&_pre]:sm:px-3 [&_pre]:sm:py-4 [&_pre]:rounded-md [&_pre]:overflow-auto;
    @apply [&_code]:p-0.5 [&_code]:text-[0.8em] [&_code]:font-medium [&_code]:bg-slate-200/70 [&_code]:rounded-sm;
    @apply [&_pre>code]:text-base [&_pre>code]:font-normal [&_pre>code]:text-slate-700 [&_pre>code]:bg-transparent;

    @apply [&_strong]:font-semibold;

    @apply [&_table]:w-full [&_table]:text-left [&_table]:text-base;
    @apply [&_thead]:border-b [&_thead]:border-slate-200;
    @apply [&_th]:px-2 [&_th]:py-1.5 [&_th]:font-semibold [&_th]:text-slate-800;
    @apply [&_tbody_tr]:border-b [&_tbody_tr]:border-slate-100;
    @apply [&_tbody_tr:last-child]:border-0;
    @apply [&_td]:px-2 [&_td]:py-1.5 [&_td]:text-base [&_td]:sm:text-lg [&_td]:text-slate-800;

    @apply marker:text-red-500;

    :is(h2, h3, h4, h5, h6) {
      position: relative;
      display: flex;
      align-items: center;
      column-gap: .25rem;
      justify-content: start;

      .anchor {
        scroll-margin-top: 3rem;

        &::before {
          content: "#";
          display: inline-block;
          width: 1rem; height: 1rem;
          font-size: .75em;
          font-weight: 400;
          color: var(--color-slate-500);
          opacity: 0;
        }
      }

      @media (hover: hover) and (min-width: 1024px) {
        margin-left: -1.25rem;

        &:hover .anchor::before {
          opacity: 1;
        }
      }

      @media (hover: hover) and (max-width: 1023px) {
        flex-direction: row-reverse;

        &:hover .anchor::before {
          opacity: 1;
        }
      }

      @media (hover: none) {
        flex-direction: row-reverse;

        .anchor::before {
          position: relative;
          color: var(--color-slate-600);
          opacity: 1;
        }
      }
    }
  }
}

@layer utility {
  .hearts {
    --duration: 2s;

    @apply inline-grid *:col-start-1 *:row-start-1;

    & > span {
      opacity: 0;
      animation: fades calc(var(--heart-count) * var(--duration)) ease-in-out infinite;
      animation-delay: calc(var(--duration) * var(--number));
    }
  }

  @keyframes fades {
    0% { opacity: 0; }
    6.25% { opacity: 1; }
    12.5% { opacity: 1; }
    18.75% { opacity: 0; }
    100% { opacity: 0; }
  }

  @keyframes heartbeat-pulse {
    0%, 100% { transform: scale(1); }
    30% { transform: scale(1.2); }
    50% { transform: scale(1); }
  }
}
