<%# locals: (resource:) %>
<div class="group max-w-2xl relative mt-4 font-mono text-sm font-normal text-blue-800 border border-blue-200 rounded-lg md:mt-6">
  <input type="hidden" id="source" value="<%== resource.command || "rails app:template LOCATION='#{resource_template_url(resource, trailing_slash: false)}'" %>">
  <button data-action="copy" data-target="#source" data-copy-delay="7500" class="inline-flex items-center gap-x-1 m-1 px-2.5 py-0.5 text-sm font-normal tracking-tight text-blue-950 bg-white ring ring-blue-300 rounded-md shadow-sm shadow-blue-200 transition hover:ring-blue-400 active:scale-98 active:shadow-none" aria-label="Copy template command to clipboard">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" stroke-width="" class="size-3 block text-blue-600 group-has-[input#source[data-copy-success=true]]:hidden">
      <path fill-rule="evenodd" d="M13.887 3.182c.396.037.79.08 1.183.128C16.194 3.45 17 4.414 17 5.517V16.75A2.25 2.25 0 0 1 14.75 19h-9.5A2.25 2.25 0 0 1 3 16.75V5.517c0-1.103.806-2.068 1.93-2.207.393-.048.787-.09 1.183-.128A3.001 3.001 0 0 1 9 1h2c1.373 0 2.531.923 2.887 2.182ZM7.5 4A1.5 1.5 0 0 1 9 2.5h2A1.5 1.5 0 0 1 12.5 4v.5h-5V4Z" clip-rule="evenodd"></path>
    </svg>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon" class="size-3 hidden text-blue-800 group-has-[input#source[data-copy-success=true]]:block">
      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd"/>
    </svg>

    Copy command
  </button>
  to run <button data-action="toggleAttribute#open" data-target="#source" aria-label="View template source" class="underline hover:no-underline">this template</button> in your site's root directory

  <span class="-z-10 absolute inset-0 block bg-[size:11px_11px] bg-[position:-1px_-1px] bg-[linear-gradient(to_right,#dbeafe,transparent_1px),linear-gradient(to_bottom,#dbeafe,transparent_1px)]"></span>

  <%= render "content/resources/source_template", resource: @resource %>
</div>
