<article class="mt-4 px-2 mt:mt-6 lg:mt-5">
  <h1 class="text-2xl font-bold text-gray-800 tracking-tight sm:text-3xl">
    Library
  </h1>

  <p class="mt-2 max-w-prose text-lg text-gray-800">
    A growing collection of snippets, templates and UI components for your Perron-powered site.
  </p>

  <ul class="grid grid-col-1 gap-6 mt-8 mb-12 sm:grid-cols-2 md:grid-cols-3">
    <% Content::Resource::TYPES.each do |key, value| %>
      <li>
        <%= link_to category_path(key), class: "grid px-4 py-3 border border-gray-200 rounded-md transition hover:bg-gray-50 hover:border-gray-300" do %>
          <%= tag.h2 value, class: "text-base font-semibold text-gray-800" %>

          <%= tag.p Content::Resource::DESCRIPTIONS[key], class: "text-sm text-gray-600" %>
        <% end %>
      </li>
    <% end %>
  </ul>
</article>
