<!DOCTYPE html>
<html class="scroll-smooth">
  <%= render "shared/head" %>

  <body class="antialiased">
    <main class="flex flex-row gap-12 w-full [--nav-width:18rem]">
      <%= render partial: "shared/sidebar_navigation", locals: { sections: Content::Article.sections } %>

     <div class="relative grow box-border flex-col w-full mx-auto px-2 lg:ml-(--nav-width) lg:px-6">
       <%= render partial: "shared/sidebar_navigation_toggle_button", locals: { resource: @resource } %>

        <%= yield %>
      </div>
    </main>
  </body>
</html>
