<!DOCTYPE html>
<html>
  <%= render "shared/head" %>

  <body class="antialiased">
    <main class="flex flex-row gap-12 w-full [--nav-width:18rem]">
      <%= render partial: "shared/sidebar_navigation", locals: { top_level_items: [{label: "Home", href: root_path, icon: "home"}, {label: "Resources", href: resources_path, icon: "cube"}, {label: "Docs", href: articles_path, icon: "book-open"}] } %>

     <div class="relative grow box-border flex-col w-full mx-auto px-2 lg:ml-(--nav-width) lg:px-6">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
