<%# locals: (quick_link:) %>
<li class="col-span-6 sm:col-span-3">
  <%= link_to quick_link.href, class: "group/link block h-full px-2 py-3 bg-gradient-to-br from-slate-100/80 to-slate-100/50 border border-white/70 ring ring-offset-0 ring-slate-200 rounded-md transition hover:ring-slate-300 md:px-3 md:py-4" do %>
    <%= icon quick_link.icon, class: "size-6 p-1 text-slate-700 bg-white shadow-sm ring ring-slate-300/60 rounded-md transition group-hover/link:shadow-md" %>

    <%= tag.h3 quick_link.title, class: "mt-2 text-sm font-semibold tracking-tight text-slate-900 sm:text-base" %>

    <%= tag.p quick_link.description, class: "mt-0.5 text-sm text-slate-700 sm:text-base sm:text-slate-600" %>
  <% end %>
</li>
