---
title: Could not find that page
sitemap: false
---

<article class="my-24 max-w-3xl mx-auto px-2 md:my-48">
  <h1 class="text-6xl font-bold text-slate-950 md:text-8xl">
    404
  </h1>

  <p class="mt-2 text-lg text-slate-700 text-balance">
    <strong class="text-slate-800">The page you were looking for doesn’t exist.</strong> You may have mistyped the address or the page may have moved.
  </p>
</article>
