---
title: Rails-based Static Site Generator
description: Perron is a Rails-based static site generator that allows you to build your static sites in the same framework you build your apps.
---

<div class="px-2 py-12 text-center md:py-20 lg:py-48">
  <h1 class="text-3xl font-black tracking-tight text-slate-900 md:text-4xl lg:text-6xl">
    Rails-based Static Site Generator
  </h1>

  <p class="mt-1 text-xl font-light text-slate-900 md:text-3xl lg:text-4xl md:mt-4">
    Static sites with the framework you love ❤️
  </p>

  <div class="flex items-center justify-center gap-x-8 mt-8 [&_a]:flex [&_a]:px-4 [&_a]:py-1.5 [&_a]:text-sm [&_a]:font-normal [&_a]:rounded-lg [&_a]:transition [&_a]:hover:scale-105 md:mt-12 [&_a]:md:text-lg [&_a]:md:px-6 [&_a]:md:py-2">
    <%= link_to "Documentation", articles_path, class: "text-slate-50 bg-slate-900" %>

    <%= link_to "View on GitHub", "https://github.com/rails-designer/perron", target: :blank, class: "text-slate-700 bg-slate-200" %>
  </div>
</div>


<div class="grid grid-cols-12 gap-8 px-2 md:gap-16 md:overflow-x-clip py-12 md:[mask-image:linear-gradient(to_right,transparent,black_20%,black_80%,transparent)]">
  <%= render Perron::Site.data.code_previews %>
</div>


<article
  class="
  content
  relative w-full max-w-3xl mt-12 mx-auto px-2 py-16
  bg-white border border-slate-100
  shadow-xl rounded-md
  md:px-8 lg:px-16 lg:py-28 lg:-rotate-1
  before:content-[''] before:hidden md:before:block before:absolute before:inset-0 before:rotate-3 before:-z-10 before:bg-white before:border before:border-slate-100 before:rounded-md before:shadow-md
  "
>
  <%= markdownify do %>
    Hey! 👋

    **Another Static Site Generator (SSG)? In 2025?** Yes! For years I've built static sites using Ruby-based SSGs and occasionally tried JavaScript alternatives. But there's always been a frustrating disconnect when switching between building Rails apps and creating static sites. Stimulus works differently, Tailwind CSS requires separate configurations, and countless other tools from my Rails workflow simply weren't reusable in static site generators (even Ruby-based ones!).

    **Perron** (Dutch/French; *a platform at a railway station from where passengers can board or disembark trains*) bridges this gap elegantly. Rather than being a standalone SSG, Perron is packaged as a gem that runs within your Rails app. This approach gives you the best of both worlds:

    * all the Rails features you know and love: layouts, views, partials, and helpers (including all the gems you love to use);
    * purpose-built tools for static content: markdown processing with syntax highlighting, collection management, and content organization;
    * SEO essentials: meta tags, sitemap.xml, and RSS/JSON feeds;
    * smart features like related content recommendations (using TF-IDF algorithm);
    * flexible data handling through YML, JSON, or CSV files.

    Perron offers two operating modes to fit your needs:
    * **Standalone mode**: generate a complete static site for deployment to services like Netlify, Render, etc.;
    * **Integrated mode**: add static pages directly to your existing Rails application.

    With Perron's convention-over-configuration approach, you can organize content in familiar Rails patterns. Create collections with generators, set up routes naturally, and leverage ERB embedding in your markdown when needed.

    Perron is already powering [this site](/) ([repo can be found here](https://github.com/Rails-Designer/perron-site)) and my [latest SaaS marketing site](https://helptail.com/). I'd love to see you give Perron a try for your next marketing site, blog, or documentation project! 😊

    Be sure to [check it out (and star) it on GitHub](https://github.com/Rails-Designer/perron).

    *-Rails Designer*
  <% end %>
</article>
