---
title: Static Site Generator for Ruby on Rails
description: Perron is a static site generator for Ruby on Rails. Build your static sites with Rails. Deploy them anywhere.
buttons:
  - label: Documentation
    href: /docs/
    icon: book-open
  - label: View on GitHub
    href: https://github.com/rails-designer/perron
    icon: github-logo
---

<div class="md:sticky top-0 left-0 w-full">
  <section class="px-2 py-12 text-center md:py-20 lg:py-48">
    <h1 class="text-3xl font-black tracking-tight text-slate-900 md:[text-shadow:0_60px_180px_rgba(0,0,0,0.5)] md:text-4xl lg:text-6xl">
      Static Site Generator for Ruby on Rails
    </h1>

    <p class="mt-1 text-xl font-light text-slate-900 md:text-3xl lg:text-4xl md:mt-4">
      Build with Rails. Deploy static sites. <%= render "shared/hearts" %>
    </p>

    <div class="flex items-center justify-center gap-x-8 mt-8 md:mt-12">
      <% @resource.metadata.buttons.each do |button| %>
        <%= link_to safe_join([icon(button.icon, variant: :duotone, class: "flex size-4"), button.label]), button.href, class: class_names("flex items-center gap-x-1.5 px-4 py-1 text-sm font-normal rounded-lg transition hover:scale-103 md:text-lg md:px-5 md:py-1.5", {"text-slate-700 bg-slate-200": button.href.starts_with?("http"), "text-slate-50 bg-slate-900": button.href.starts_with?("/")}) %>
      <% end %>
    </div>
  </section>

  <section class="grid grid-cols-12 gap-8 px-2 md:gap-16 md:overflow-x-clip pt-12">
    <%= render Content::Data::CodePreviews.all %>
  </section>
</div>


<article
  class="
    content
    relative w-full max-w-3xl mt-12 mx-auto px-2 py-16
    bg-white border border-slate-100
    shadow-xl rounded-md
    md:px-8 lg:px-16 lg:py-28 lg:-rotate-1
    before:content-[''] before:hidden md:before:block before:absolute before:inset-0 before:rotate-3 before:-z-10 before:bg-white before:border before:border-slate-100 before:rounded-md before:shadow-md
  "
>
  <%= markdownify do %>
    Hey! 👋

    **Another Static Site Generator (SSG)? Launched in 2025?** Yes! For years I've built static sites using Ruby-based SSGs and occasionally tried JavaScript alternatives. But there's always been a frustrating disconnect when switching between building Rails apps and creating static sites. You can't reuse your views, helpers, partials or any of the frontend code you've already built. Countless parts of your Rails workflow simply aren't transferable to static site generators (even Ruby-based ones!).

    **Perron** (Dutch/French; *a platform at a railway station from where passengers can board or disembark trains*) bridges this gap elegantly. Rather than being a standalone SSG, Perron is packaged as a gem that runs within your Rails app. This approach gives you:

    * all the Rails features you know and love: layouts, views, partials, helpers and all the gems you use daily;
    * purpose-built tools for static content: markdown processing with syntax highlighting, collection management and content organization;
    * SEO essentials: meta tags, sitemap.xml and RSS/JSON feeds;
    * smart features like related content recommendations (using TF-IDF algorithm) and programmatic content;
    * flexible data handling through YML, JSON or CSV files.

    Perron offers two operating modes to fit your needs:
    * **Standalone**: generate a complete static site for deployment to services like Netlify, Render, statichost.eu, etc.;
    * **Integrated**: add static pages directly to your existing Rails application.

    With Perron's convention-over-configuration approach, you can organize content in familiar Rails patterns. Create collections with generators, set up routes naturally and leverage ERB embedding in your markdown when needed.

    Perron is already powering [multiple sites](/docs/sites/) ([this site's repo can be found here](https://github.com/Rails-Designer/perron-site)). I'd love to see you give Perron a try for your next marketing site, blog or documentation project! 😊

    [Check it out (and ⭐ it) on GitHub](https://github.com/Rails-Designer/perron). ❤️

    *-Rails Designer*
  <% end %>
</article>
