<article class="mt-4 mt:mt-6 lg:mt-5">
  <h1 class="inline-block text-2xl font-bold text-gray-800 tracking-tight sm:text-3xl">
    Documentation
  </h1>

  <p class="mt-2 max-w-prose text-lg text-slate-800">
    Perron is a Rails-based Static Site Generator. It lets you create Static sites with the framework you love. ❤️
  </p>

  <ul class="grid grid-cols-6 gap-x-8 gap-y-4 max-w-4xl mt-8">
    <%= render Perron::Site.data.articles.quick_links %>
  </ul>
</article>
