<article class="max-w-4xl mx-auto mt-8 px-2 md:mt-16">
  <%= link_to "← View all my writings", posts_path, class: "text-sm font-sans font-normal text-gray-500 transition hover:text-gray-800" %>

  <h1 class="mt-2 text-2xl font-sans font-bold text-gray-700 md:text-balance md:text-4xl md:tracking-tight">
    <%= @resource.title %>
  </h1>

  <p class="mt-6 flex items-center gap-x-4 empty:hidden">
    <%= tag.span "Published at \#{@resource.published_at.strftime(\"%Y/%m/%d\")}", class: "text-sm text-gray-500" if @resource.published_at.present? %>

    <%= tag.span "Scheduled", class: "inline-block px-2 py-0.5 font-sans text-xs font-medium text-orange-600 bg-orange-100 rounded-md" if @resource.scheduled? %>
  </p>

  <div class="content my-5 md:my-8">
    <%= markdownify @resource.content %>
  </div>
</article>
