<footer class="mt-16 py-8 px-2 bg-slate-50 border-t border-slate-200/60">
  <div class="flex items-center justify-between w-full max-w-5xl mx-auto">
    <%= link_to "By Rails Designer", "https://railsdesigner.com", class: "text-sm font-medium text-slate-600 transition hover:text-slate-800" %>
  </div>
</footer>
