<span class="hearts [--heart-count:8]" aria-hidden="true">
  <%= safe_join(%w[â¤ï¸ ðŸ§¡ ðŸ’› ðŸ’š ðŸ©µ ðŸ’™ ðŸ’œ ðŸ©·].map.with_index { |heart, index| tag.span(heart, style: "--number:#{index}") }) %>
</span>
