<nav class="sticky top-4 left-0 flex items-center justify-between w-full max-w-3xl mx-auto px-5 py-2 bg-white/70 backdrop-blur-sm ring ring-offset-0 ring-slate-200/50 rounded-full z-1">
  <%= link_to "Perron", root_path, class: "text-sm font-bold tracking-tight text-slate-900 transition hover:text-slate-500" %>

  <div class="flex items-center gap-x-5">
    <%= link_to "Documentation", "#", class: "text-sm text-slate-700" %>
    <%= link_to "GitHub", "https://github.com/rails-designer/perron", target: :blank, class: "text-sm text-slate-700" %>
  </div>
</nav>
