<%# locals: (top_level_items: [{label: "Home", href: root_path, icon: "home"}, {label: "Resources", href: resources_path, icon: "cube"}, {label: "Docs", href: articles_path, icon: "book-open"}], sections: []) %>
<nav class="hidden fixed top-0 bottom-0 pb-12 right-auto w-(--nav-width) bg-white z-10 overflow-y-auto lg:block">
  <ul class="mt-4 px-2 grid gap-y-6 text-base overflow-y-auto mt:mt-6 lg:mt-8 md:px-4 lg:px-8 md:text-sm [--nav-vertical-spacing:1.25rem]">
    <% top_level_items.each do |item| %>
      <li>
        <%= link_to safe_join([icon(item[:icon], variant: :mini, class: "size-5 p-px text-slate-600 bg-white border border-slate-200 shadow-xs rounded-md transition group-hover/link:border-slate-300"), item[:label]]), item[:href], class: "flex items-center gap-x-2 px-(--nav-vertical-spacing) font-bold text-slate-800 group/link" %>
      </li>
    <% end %>

    <%= render partial: "content/articles/navigation/section", collection: sections, as: :section %>
  </ul>
</nav>
