<li>
  <%= link_to item.title, item, class: class_names("block px-1 py-2 text-sm font-medium tracking-tight text-gray-800 sm:text-base hover:text-gray-500", {"text-gray-800": current_page?(item)}) %>
</li>
