<%# locals: (top_level_items: [], sections: []) %>
<nav id="nav" data-action="scrollTo#instant:mounted" data-target="#current-item" class="hidden fixed top-0 bottom-0 right-auto w-(--nav-width) bg-white z-10 overflow-y-auto lg:block [&[open]]:block lg:top-10">
  <ul class="mt-4 px-2 grid gap-y-1 text-base overflow-y-auto md:px-4 lg:px-8 md:text-sm lg:mt-6 [--nav-vertical-spacing:1.25rem]">
    <% top_level_items.each do |item| %>
      <li>
        <%= link_to safe_join([icon(item[:icon], variant: :duotone, class: "size-5 p-px text-slate-600 fill-slate-600 bg-white border border-slate-200 shadow-sm rounded-md transition group-hover/link:border-slate-300 group-hover/link:shadow-md"), item[:label]]), item[:href], class: class_names("flex items-center gap-x-2 px-(--nav-vertical-spacing) py-2 font-bold text-slate-800 rounded-md group/link", {"bg-slate-100 [&_svg]:shadow-md": item[:current_page?]}) %>
      </li>
    <% end %>

    <%= render partial: "content/articles/navigation/section", collection: sections, as: :section %>
  </ul>

  <%= link_to "By Rails Designer", "https://railsdesigner.com", rel: :nofollow, class: "block mt-12 py-12 text-xs text-center font-medium text-slate-400 transition border-t border-slate-100 hover:text-slate-800" %>
</nav>

<button
  data-action="removeAttribute#open"
  data-target="#nav"
  class="hidden fixed inset-0 bg-slate-950/30 backdrop-blur-sm z-5 [nav[open]~&]:block lg:hidden"
>
</button>
