<li class="col-span-6 px-3 py-4 bg-slate-50 border border-slate-200 rounded-md transition sm:col-span-3 hover:border-slate-300">
  <%= link_to quickstart.href, class: "" do %>
    <%= tag.h3 quickstart.title, class: "text-lg font-bold tracking-tight text-slate-800" %>
    <%= tag.p quickstart.description, class: "text-base text-slate-600" %>
  <% end %>
</li>
