<article class="my-4 px-2 sm:my-4 lg:mb-7">
  <%= render "shared/page_heading", content: @type, breadcrumbs: [{label: "Library", href: resources_url}] %>

  <p class="mt-2 max-w-prose text-lg text-gray-800">
    <%= @description %>
  </p>

  <ul class="grid gap-8 mt-8 mb-12">
    <% @resources.each do |category, resources| %>
      <li>
        <%= tag.h2 category.to_s.humanize, id: category.to_s.parameterize, class: "ml-2 text-lg font-bold text-gray-800" %>

        <ul class="grid grid-cols-12 gap-4 mt-0.75 px-2">
          <%= render resources.sort_by(&:position) %>
        </ul>
      </li>
    <% end %>
  </ul>
</article>
