<div role="img" class="col-span-12 md:col-span-6 lg:col-span-3 max-h-48 font-mono bg-slate-900 border border-slate-700 rounded-lg shadow-xl overflow-auto md:odd:-rotate-2 md:even:rotate-2">
  <div class="sticky top-0 left-0 flex items-center gap-x-3 p-2 bg-slate-900/90 backdrop-blur-sm">
    <div class="flex gap-x-1 [&_span]:block [&_span]:size-2 [&_span]:rounded-full">
      <%= safe_join(%w[bg-red-500 bg-yellow-500 bg-green-500].map { tag.span class: it }) %>
    </div>

    <%= tag.span code_preview.name, class: "line-clamp-1 text-xs font-semibold text-slate-400" %>
  </div>

  <%= tag.div markdownify(code_preview.content), class: "p-2 text-sm border-t border-slate-700/70" %>
</div>
