<!DOCTYPE html>
<html class="scroll-smooth">
  <%= render "shared/head" %>

  <body class="selection:bg-slate-300 selection:text-slate-800 antialiased scroll-smooth">
    <%= yield %>
  </body>
</html>
