<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <%= render "shared/head" %>

  <body class="selection:bg-gray-300 selection:text-gray-800 antialiased scroll-smooth">
    <%= yield %>
  </body>
</html>
